.blogs {
  .head {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .blogCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    .blogCard {
      background: white;
      border: 1px solid rgb(206, 193, 193);
      display: flex;
      flex-direction: column;
      width: 300px;
      padding-bottom: 10px;
      border: 1px solid rgb(216, 204, 204);
      background: white;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      img {
        width: 100%;
        object-fit: contain;
      }
      .bloghead {
        font-size: 18px;
        margin: 0 10px;
        font-weight: 400;
      }
      .author {
        font-size: 15px;
        margin: 0 10px;
        margin-bottom: 10px;
      }
      a {
        text-decoration: none;
        border: 0.5px solid #3b3768;
        padding: 4px 8px;
        color: black;
        width: fit-content;
        margin: 0 10px;
        background: linear-gradient(to left, white 50%, #3b3768 50%) right;
        background-size: 200%;
        transition: 0.4s ease-out;

        &:hover {
          background-position: left;
          color: white;
        }
      }
    }
  }
}
@media screen and (max-width: 1400px) {
  .blogs {
    .head {
    }
    .blogCards {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
@media screen and (max-width: 700px) {
  .blogs {
    .blogCards {
      .blogCard {
        width: fit-content;
      }
    }
  }
}
